<div class="fullpage-container" (window:scroll)="onScroll()">
  <section class="section" id="section1">
    <div class="left-image"></div>
    <div class="right-content">
      <p class="label">OUR SERVICES</p>
      <h2>Industrial</h2>
      <p>We focus on providing integrated and customized geothermal projects to meet the specific requirements of different industrial sectors.</p>
      <button>START A PROJECT</button>
    </div>
  </section>

  <section class="section" id="section2">
    <div class="left-image"></div>
    <div class="right-content">
      <p class="label">OUR SERVICES</p>
      <h2>Commercial</h2>
      <p>Smart energy solutions for commercial applications.</p>
      <button>START A PROJECT</button>
    </div>
  </section>
  <section class="section" id="section3">
    <div class="left-image"></div>
    <div class="right-content">
      <p class="label">OUR SERVICES</p>
      <h2>test</h2>
      <p>Smart energy solutions for commercial applications.</p>
      <button>START A PROJECT</button>
    </div>
  </section>

<!--
<div class="scroll-nav">
  <ul>
    <li *ngFor="let sec of sections; let i = index"
        [class.active]="i === currentSection"
        (click)="scrollToSection(i)">
      {{ i + 1 }}
    </li>
  </ul>
</div>
-->
