<footer class="site-footer">
  <div class="footer-top">
    <div class="footer-info">
      <div class="logo">
        <img src="assets/images/logo-footer.svg" alt="MIR Geo Energy">
      </div>
      <h2 class="footer-title">Geo Solutions Group & Partners</h2>
      <p class="footer-desc">
        Printr-o abordare profesionistă, oferim soluții eficiente și sustenabile,
        adaptate pentru a satisface nevoile energetice și păstrarea mediului înconjurător.
      </p>
    </div>
<!--
    <div class="footer-contacts">
      <div class="contact-block">
        <p class="contact-label">Nr. 112, Scara
          <br>
          Str. Ioana Radu 27/2<br>
          Chisinau MD-2008
        </p>
      </div>
      <div class="contact-block">
        <p class="contact-label">Contactați-ne</p>
        <a href="mailto:info@geo-sg.com" class="contact-link">{{email}}</a>
      </div>
      <div class="contact-block">
        <p class="contact-label">Sunați direct</p>
        <a href="tel:+37369632665" class="contact-link">+ (373) 69 63 26 65</a><br>
      </div>
    </div>
-->
    <div class="footer-contacts">
      <!-- Юридический адрес (Кишинев) -->
      <div class="contact-block contact-block--legal">
        <p class="contact-label">Sediu juridic (Chișinău)</p>
        <p class="contact-address">
          Nr. 112, Scara<br>
          Str. Ioana Radu 27/2<br>
          Chișinău, MD-2008
        </p>
        <a href="tel:+37369632665" class="contact-link">+ (373) 69 63 26 65</a>
        <a href="mailto:info@geo-sg.com" class="contact-link">{{email}}</a>
      </div>

      <!-- Филиал: Bălți -->
      <div class="contact-block contact-block--office">
        <p class="contact-label">Germany</p>
        <p class="contact-address">
          Gatower Weg 5, 14624 Seeburgm,<br>
          Germany
        </p>
        <a href="tel:+49 157 83 506 702" class="contact-link">+49 157 83 506 702</a>
      </div>

      <!-- Филиал: Cahul -->
      <div class="contact-block contact-block--office">
        <p class="contact-label">Switzerland</p>
        <p class="contact-address">
          Bahnhofstrasse 8, 4512 Bellach<br>
          Switzerland
        </p>
        <a href="tel:+41 79 237 45 55" class="contact-link">+41 79 237 45 55</a>
      </div>
    </div>

  </div>

  <div class="footer-bottom">
    <div class="copyright">
      © 2025 Geo Solutions Group & Partners. Toate drepturile rezervate
    </div>
  </div>
</footer>
