.heat-pump {
  background: #fff;
  padding: 40px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; // на мобильных: контент над картинкой
  }

  &__content {
    flex: 1 1 350px; // минимум 350px, затем растягивается
    max-width: 600px;
    padding-right: 20px;

    .heat-pump__title {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .heat-pump__desc {
      font-size: 1rem;
      line-height: 1.6;
    }
  }

  &__image {
    text-align: center;
    margin: -12px auto;

    img {
      max-height: max-content;
      object-fit: contain;
      max-width: 55%;
      height: 500px;
    }
  }
}

li.positive::before {
  content: '+';
  color: #00aa55;
  position: absolute;
  left: -4px;
}

li.negative::before {
  content: '–';
  color: #f87b00;
  position: absolute;
  left: -4px;
}

ul {
  margin-top: 12px;
  list-style: none;
  padding-left: 0;

  li {
    padding-left: 20px;
    margin-bottom: 15px;
    position: relative;
  }
}

.heat-pump__col{
  margin-top: 15px;
}
@media (max-width: 768px) {
  .heat-pump {
    &__title, .heat-pump__title {
      font-size: 1.5rem;       // вместо 2.5rem
    }
  }}
