<section class="heat-pump">
  <div class="heat-pump__top">
    <div class="heat-pump__left">
      <h2 class="heat-pump__title">{{'Heat-pump'| transloco}}<br>{{'aw'| transloco}}</h2>
    </div>
    <div class="heat-pump__right">
      <p class="heat-pump__desc">{{'air' | transloco}}</p>
    </div>
  </div>
  <div class="heat-pump__image">
    <img src="assets/images/products/aer-apa.jpg" alt="Pompa de căldură">
  </div>
  <div class="heat-pump__cols">
    <div class="heat-pump__col">
      <h3>{{'Advantages'| transloco}}:</h3>
      <ul>
        <li class="positive">{{'products-list.product-desc-1'| transloco}}</li>
        <li class="positive">{{'products-list.product-desc-2'| transloco}}</li>
        <li class="positive">{{'products-list.product-desc-3'| transloco}}</li>
        <li class="positive">{{'products-list.product-desc-4'| transloco}}</li>
        <li class="positive">{{'products-list.product-desc-5'| transloco}}</li>
        <li class="positive">{{'products-list.product-desc-6'| transloco}}</li>
        <li class="positive">{{'products-list.product-desc-7'| transloco}}</li>
        <li class="positive">{{'products-list.product-desc-8'| transloco}}</li>
        <li class="positive">{{'products-list.product-desc-9'| transloco}}</li>
        <li class="positive">{{'products-list.product-desc-10'| transloco}}</li>
      </ul>
    </div>
    <div class="heat-pump__col">
      <h3>{{'disadvantage'| transloco}}:</h3>
      <ul>
        <li class="negative">{{'products-list.product-desc-11'| transloco}}</li>
        <li class="negative">{{'products-list.product-desc-12'| transloco}}</li>
        <li class="negative">{{'products-list.product-desc-13'| transloco}}</li>
        <li class="negative">{{'products-list.product-desc-14'| transloco}}</li>
      </ul>
    </div>
  </div>
  <div class="heat-pump__footer"></div>
</section>


<section class="heat-pump">
  <div class="heat-pump__top">
    <div class="heat-pump__left">
      <h2 class="heat-pump__title">{{'Heat-pump'| transloco}}<br>{{'ew'| transloco}}</h2>
    </div>
    <div class="heat-pump__right">
      <p class="heat-pump__desc">{{'heat' | transloco}}</p>
    </div>
  </div>

  <div class="heat-pump__image">
    <img src="assets/images/products/Pompa-de-caldura-Sol-–-Apa.jpg"
         alt="Pompa de căldură">
  </div>

  <div class="heat-pump__cols">
    <div class="heat-pump__col">
      <h3>{{'Advantages'| transloco}}:</h3>
      <ul>
        <li class="positive">{{'products-list.product-desc-15'| transloco}}</li>
        <li class="positive">{{'products-list.product-desc-16'| transloco}}</li>
        <li class="positive">{{'products-list.product-desc-17'| transloco}}</li>
        <li class="positive">{{'products-list.product-desc-18'| transloco}}</li>
        <li class="positive">{{'products-list.product-desc-19'| transloco}}</li>
        <li class="positive">{{'products-list.product-desc-20'| transloco}}</li>
        <li class="positive">{{'products-list.product-desc-21'| transloco}}</li>
        <li class="positive">{{'products-list.product-desc-22'| transloco}}</li>
      </ul>
    </div>
    <div class="heat-pump__col">
      <h3>{{'disadvantage'| transloco}}:</h3>
      <ul>
        <li class="negative">{{'products-list.product-desc-23'| transloco}}</li>
        <li class="negative">{{'products-list.product-desc-24'| transloco}}</li>
      </ul>
    </div>
  </div>
</section>

<section class="heat-pump">
  <div class="heat-pump__top">
    <div class="heat-pump__left">
      <h2 class="heat-pump__title">{{'Heat-pump'| transloco}}<br>{{'ww'| transloco}}</h2>
    </div>
    <div class="heat-pump__right">
      <p class="heat-pump__desc">{{'water-description'| transloco}}
    </div>
  </div>

  <div class="heat-pump__image">
    <img src="assets/images/products/apa-apa-1.jpg"
         alt="Pompa de căldură">
  </div>

  <div class="heat-pump__cols">
    <div class="heat-pump__col">
      <h3>{{'Advantages'| transloco}}:</h3>
      <ul>
        <li class="positive">{{'products-list.product-desc-25'| transloco}}</li>
        <li class="positive">{{'products-list.product-desc-26'| transloco}}</li>
        <li class="positive">{{'products-list.product-desc-27'| transloco}}</li>
        <li class="positive">{{'products-list.product-desc-28'| transloco}}</li>
        <li class="positive">{{'products-list.product-desc-29'| transloco}}</li>
        <li class="positive">{{'products-list.product-desc-30'| transloco}}</li>
        <li class="positive">{{'products-list.product-desc-31'| transloco}}</li>
        <li class="positive">{{'products-list.product-desc-32'| transloco}}</li>
      </ul>
    </div>
    <div class="heat-pump__col">
      <h3>{{'disadvantage'| transloco}}:</h3>
      <ul>
        <li class="negative">{{'products-list.product-desc-33'| transloco}}</li>
        <li class="negative">{{'products-list.product-desc-34'| transloco}}</li>
        <li class="negative">{{'products-list.product-desc-35'| transloco}}</li>
        <li class="negative">{{'products-list.product-desc-36'| transloco}}</li>
      </ul>
    </div>
  </div>

  <div class="heat-pump__footer"></div>
</section>
