<h2 class="founders-title">{{ 'partners' | transloco }}</h2>

<section class="founders-section">
  <div class="founders-images">
    <!-- Первый логотип остаётся без изменений -->
    <a href="https://mirgeoenergy.com/" target="_blank" rel="noopener noreferrer">
      <img src="assets/LOGO-MIR-FINAL-COLOR.svg" alt="Iacob Cerlat">
    </a>

    <!-- Второй логотип с подписью -->
    <a class="with-label"
       href="https://www.facebook.com/p/Asociatia-Producatorilor-de-Energie-Geotermala-din-Moldova-61557454207536/"
       target="_blank" rel="noopener noreferrer">
      <img src="assets/img.png" alt="Asociația Producătorilor de Energie Geotermală">
      <span class="label">Asociația Producătorilor<br/>de Energie Geotermală</span>
    </a>
  </div>
</section>
