<section class="founders-section">
  <h2 class="founders-title">{{'partners'| transloco}}</h2>
<div class="founders-images">
  <a href="https://mirgeoenergy.com/" target="_blank" rel="noopener noreferrer">
    <img src="assets/LOGO-MIR-FINAL-COLOR.svg" alt="Iacob Cerlat">
  </a>
  <a href="https://www.facebook.com/p/Asociatia-Producatorilor-de-Energie-Geotermala-din-Moldova-61557454207536/" target="_blank" rel="noopener noreferrer">
    <img src="assets/img.png" alt="Iacob Cerlat">
  </a>
</div>
</section>
