<section class="founders-section" >
  <div class="founders-text">
    <h2 class="title">
      Fondatorii<br/>
      MIR Geo Energy.
    </h2>
    <p class="description">
      Toți trei absolvenți ai Universității “Petrol și Gaze” din Ploiești, cu experiență extinsă în proiectarea sondelor și supervizarea operațiunilor de foraj, am făcut parte din echipe internaționale care au implementat cu succes proiecte energetice în diverse țări precum România, Franța, Elveția, Irak, Kuwait, Emiratele Arabe Unite și Qatar. …
    </p>
  </div>

  <div class="founders-images">
    <div class="card founder-card">
      <img src="https://images.unsplash.com/photo-1521737852567-6949f3f9f2b5?q=80&w=1447&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Iacob Cerlat" />
    <div class="founder-card card2">
      <img src="https://media.istockphoto.com/id/2187592637/photo/happy-indian-mature-man-holding-digital-tablet.jpg?s=1024x1024&w=is&k=20&c=efgRVQq6uEJ_xpLAdfPYyTjEKxts72a49H10zapecKY=" alt="Manole Codreanu" />
    </div>
    </div>
    <div class="founder-card card3">
      <img src="https://media.istockphoto.com/id/2165425195/photo/portrait-of-a-man-in-an-office.jpg?s=1024x1024&w=is&k=20&c=tl5FUJDIyFjdvygEKHDPXKhvPq-_PSjfK35SRtdTq7I=" alt="Ruslan Cantemir" />
    </div>
  </div>
</section>
