<section class="hero">
  <div class="hero__content"  @slideInSmooth>
    <h1>
      {{'title'| transloco}}<br>
      <span class="highlight">
    <span class="highlight__inner">
      <img src="assets/images/logo%20GEO-02.svg" alt="Logo" class="highlight__logo">
      <span class="highlight__text">Geo Solutions Group & Partners</span>
    </span>
  </span>
    </h1>

    <p>{{'subtitle'| transloco}}.</p>
    <button class="hero-btn" (click)="router.navigate(['/'], { fragment: 'slider' })">Afla mai multe</button>
  </div>
</section>
