<div class="container">
  <div>
   <h2>Despre noi</h2>
  </div>
  <div class="text-container">
    <span> Oferim un spectru complet de servicii, prin care ne asiguram ca fiecare aspect al proiectului geotermal este executat cu atentie si precizie incepand cu faza de proiectare pana la implementarea finala.</span>
    <span> Cu o abordare orientată către profesionalism, dezvoltăm soluții care sunt atât eficiente cât și durabile, fiind adaptate pentru a răspunde nevoilor energetice, cu un impact minim asupra mediul înconjurător.</span>
  </div>
</div>
