<header class="main-header">
  <div class="nav-container">

    <div class="burger" (click)="toggleMenu()" [class.open]="menuOpen">
      <ng-container *ngIf="menuOpen; else burgerLines">
        <i class="ri-close-line close-icon"></i>
      </ng-container>
      <ng-template #burgerLines>
        <div class="line line1"></div>
        <div class="line line2"></div>
        <div class="line line3"></div>
      </ng-template>
    </div>

    <img
      src="assets/images/logo.svg"
      alt="logo"
      class="logo-desktop"
      (click)="router.navigate(['/'], { fragment: 'main' }); closeMenu()"
    />

    <img
      src="assets/logo GEO--01.svg"
      alt="logo"
      class="logo-mobile"
      (click)="router.navigate(['/'], { fragment: 'main' }); closeMenu()"
    />

    <ul class="nav-list" [class.open]="menuOpen">
      <li (click)="router.navigate(['/'], { fragment: 'main' }); closeMenu()">
        <span>Home</span>
      </li>
      <li (click)="router.navigate(['/'], { fragment: 'slider' }); closeMenu()">
        <span>{{ 'services' | transloco }}</span>
      </li>
      <li (click)="router.navigate(['/'], { fragment: 'products' }); closeMenu()">
        <span>{{ 'products' | transloco }}</span>
      </li>
      <li (click)="router.navigate(['/'], { fragment: 'about-us' }); closeMenu()">
        <span>{{ 'about-us' | transloco }}</span>
      </li>
      <li (click)="router.navigate(['/'], { fragment: 'team' }); closeMenu()">
        <span>{{ 'partners' | transloco }}</span>
      </li>
      <li (click)="router.navigate(['/'], { fragment: 'contacts' }); closeMenu()">
        <span>{{ 'contacts' | transloco }}</span>
      </li>
    </ul>

    <div
      class="language-container"
      (click)="toggleLanguageDropdown(); $event.stopPropagation()"
      appClickOutside
      (clickOutside)="dropdownVisible = false"
    >
      <button class="navbar__button">
        <i class="ri-global-line"></i>
        <span class="language-text">{{ selectedLanguage | uppercase }}</span>
      </button>

      @if (dropdownVisible) {
        <div class="language-options">
        @for (language of languages; track language){
          <button
            (click)="setLang(language.code)"
            class="lang-code">
            <img
              [src]="language.flag"
              [alt]="language.name"
              class="flag-icon"
            />
            {{ language.name }}
          </button>
        }
      </div>
      }
    </div>
  </div>
</header>
