@import "assets/css/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
  --primary-color: #131314;
  --secondary-color: #1E1F20;
  --secondary-hover-color: #333537;

  --focus-color: #282A2C;
  --focus-hover-color: #37393B;

  --button-hover-color: #2f3030;
  --text-secondary-color: #D8D8D8;
  --heading-secondary-color: #444746;
  --placeholder-color: #ABAFB3;

  --bg-color: #080808;
  --second-bg-color: #131313;
  --main-color: #00ffee;
  --text-color: #f2f2f2;
  --subtext-color: #d0d0d0;
  --highlight-color: #202D49; /* Акцентный светлый цвет */
  --overlay-color: rgba(0, 0, 0, 0.6);
}

*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html, body {
  scroll-behavior: smooth;
  height: 100%;
  display: flex;
  flex-direction: column;
}




.scrolltop-button {
  background: linear-gradient(135deg, #232526 0%, #414345 100%) !important;
  color: #FFFFFF !important;
}

app-header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

[id] {
  position: relative;
}
[id]::before {
  content: "";
  display: block;
  height: 80px;
  margin-top: -80px;
  visibility: hidden;
}

.founders-title {
  display: block;
  width: 100%;
  background: #F2F1EF;
  box-sizing: border-box;    // чтобы padding учитывался в 100% ширины
  padding: 20px 40px;        // 20px сверху/снизу, 10px слева/справа
  font-size: 2.5rem;
  font-weight: bold;
  color: #1f2a26;
  text-align: start;
}
@media (max-width: 768px) {
  .founders-title {
    font-size: 24px;
    margin-bottom: 20px;
  }


}

@media (max-width: 768px) {
  .heat-pump {
    &__title, .heat-pump__title {
      font-size: 1.5rem;       // вместо 2.5rem
    }
  }}
